body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1c1c1c;
    color: white;
}

#movieRoomLogo {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    animation: fadeIn 2s ease-out;
}

.hidden {
    display: none;
}

#nextPage {
    display: none; /* 初めは隠しておく */
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 100vh; /* スクロール対応 */
    width: 100%;
}

iframe {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
